.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.container {
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
	width: 1230px;
}

.container-main {
	max-width: 1600px;
	min-height: 600px;
	margin-left: auto;
	margin-right: auto;
	background-image: -webkit-gradient(
			linear,
			left top,
			left bottom,
			from(rgba(47, 48, 58, 0.8)),
			to(rgba(47, 48, 58, 0.8))
		),
		url(../images/Header.jpg);
	background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/Header.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	background-color: #c4c4c4;
}

.container-footer {
	padding-top: 60px;
	padding-bottom: 60px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

body {
	font-family: Roboto, sans-serif;
	background-color: #ffffff;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.list {
	list-style: none;
}

.section {
	padding-top: 94px;
	padding-bottom: 94px;
}

.section-title {
	margin-top: 0;
	margin-bottom: 50px;
	font-family: Roboto, sans-serif;
	font-weight: 700;
	font-size: 36px;
	line-height: 1.16;
	text-align: center;
	letter-spacing: 0.03em;
	color: #212121;
}

.page {
	text-align: center;
}

.address {
	margin-top: 0;
	margin-bottom: 9px;
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: #ffffff;
}

.address .link {
	margin-bottom: 9px;
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	text-decoration: none;
	color: rgba(255, 255, 255, 0.6);
}

.mail-link {
	margin-bottom: 9px;
}

.button {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin-bottom: 34px;
}

.button .item:not(:last-child) {
	margin-right: 8px;
}

.button .link {
	display: inline-block;
	border-radius: 4px;
	padding: 6px 22px;
	min-width: 73px;
	border: 1px solid transparent;
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.63;
	letter-spacing: 0.03em;
	text-align: center;
	background-color: #f5f4fa;
	color: var(--title-text-color);
	-webkit-transition-duration: 250ms;
	transition-duration: 250ms;
	-webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button .link:hover,
.button .link:focus {
	background-color: var(--accent-color);
	color: #ffffff;
	-webkit-transition-duration: 250ms;
	transition-duration: 250ms;
	-webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.order-link {
	padding: 10px 32px;
	border-radius: 4px;
	font-family: Roboto, sans-serif;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	text-align: center;
	text-transform: capitalize;
	letter-spacing: 0.06em;
	text-decoration: none;
	background-color: #2196f3;
	color: #ffffff;
	-webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	outline: none;
	-webkit-transition-duration: 250ms;
	transition-duration: 250ms;
	-webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.order-link:hover {
	background-color: #2196f3;
	color: #ffffff;
	-webkit-transition-duration: 250ms;
	transition-duration: 250ms;
	-webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.logo {
	font-family: Raleway, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
	text-decoration: none;
	color: #000000;
}

.logo-web {
	color: #2196f3;
}

.main-nav {
	padding-top: 24px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.site-nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-left: 85px;
}

.site-nav .item:not(:last-child) {
	margin-right: 50px;
}

.site-nav .link {
	display: block;
	padding-top: 32px;
	padding-bottom: 28px;
	font-family: Roboto, sans-serif;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: #212121;
	text-decoration: none;
	-webkit-transition-duration: 250ms;
	transition-duration: 250ms;
	-webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover,
.site-nav .link:focus {
	-webkit-transition-duration: 250ms;
	transition-duration: 250ms;
	-webkit-transition-timing-function: var(--timing-function);
	transition-timing-function: var(--timing-function);
	color: #2196f3;
}

.current-link::after {
	content: "";
	display: block;
	width: 100%;
	height: 4px;
	border-radius: 2px;
	top: 0;
	bottom: -1px;
	opacity: 1;
	background-color: #2196f3;
}

.auth-nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-left: auto;
}

.auth-nav .item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.auth-nav .item + .item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-left: 30px;
}

.auth-nav .link {
	font-family: Roboto, sans-serif;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	text-decoration: none;
	color: #757575;
	-webkit-transition-duration: 250ms;
	transition-duration: 250ms;
	-webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav .link:hover,
.auth-nav .link:focus {
	-webkit-transition-duration: 250ms;
	transition-duration: 250ms;
	-webkit-transition-timing-function: var(--timing-function);
	transition-timing-function: var(--timing-function);
	color: #2196f3;
}

.contact-item {
	margin-right: 10px;
	fill: #757575;
}

.page-header {
	border: 1px solid #ececec;
}

.page-title {
	padding-top: 200px;
	margin-top: 0px;
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
	width: 696px;
	font-family: Roboto, sans-serif;
	font-weight: 900;
	font-size: 44px;
	line-height: 1.4;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: #ffffff;
}

.network-icon {
	fill: #ffffff;
}

.network-icon-member {
	fill: #afb1b8;
}

.network-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.network-item-link {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 44px;
	height: 44px;
	background: rgba(255, 255, 255, 0.1);
	border-radius: 50%;
	background-size: content;
	-webkit-transition-duration: 250ms;
	transition-duration: 250ms;
	-webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.network-item-link:hover,
.network-item-link:focus {
	background-color: #2196f3;
	-webkit-transition-duration: 250ms;
	transition-duration: 250ms;
	-webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.network-item-link:hover .network-icon-member {
	-webkit-transition-duration: 250ms;
	transition-duration: 250ms;
	-webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	color: #2196f3;
	fill: #ffffff;
}

.network-item-link:focus .network-icon-member {
	-webkit-transition-duration: 250ms;
	transition-duration: 250ms;
	-webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	color: #2196f3;
	fill: #ffffff;
}

.network-item-link:not(:last-child) {
	margin-right: 10px;
}

.footer .networks {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.advantages {
	padding-top: 94px;
	padding-bottom: 0;
}

.advantages-list .list-item:not(:last-child) {
	margin-right: 30px;
}

.advantages-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.advantages-list p {
	margin-top: 0;
	margin-bottom: 0;
	font-family: Roboto, sans-serif;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: #757575;
}

.advantages .title {
	margin-top: 0;
	margin-bottom: 10px;
	font-family: Roboto, sans-serif;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #212121;
}

.list-item {
	width: 270px;
}

.list-item:before {
	margin-bottom: 30px;
	display: block;
	content: "";
	height: 120px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 100px 25px;
	border-radius: 4px;
	background-color: #f5f4fa;
}

.list-item .antenna::before {
	background-image: url(../images/antenna.svg);
}

.list-item .clock::before {
	background-image: url(../images/clock.svg);
}

.list-item .diagram::before {
	background-image: url(../images/diagram.svg);
}

.list-item .astronaut::before {
	background-image: url(../images/astronaut.svg);
}

.features {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.features-box {
	position: relative;
}

.features .features-item:not(:last-child) {
	margin-right: 30px;
}

.features-title {
	padding-top: 27px;
	bottom: 0;
	position: absolute;
	width: 370px;
	height: 70px;
	margin-top: 0;
	margin-bottom: 0;
	background: rgba(47, 48, 58, 0.8);
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-align: center;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #ffffff;
}

.section.team {
	background-color: #f5f4fa;
}

.section.team .team-item {
	width: 270px;
}

.section.team .team-item::before {
	margin-bottom: 30px;
	content: "";
	display: block;
	height: 260px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.section-description {
	margin-top: 0;
	margin-bottom: 20px;
	margin-left: 24px;
	margin-right: 24px;
	font-size: 16px;
	line-height: 1.86;
	letter-spacing: 0.03em;
	color: #757575;
}

.member {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.member-title {
	margin-top: 0;
	margin-bottom: 50px;
	font-family: Roboto, sans-serif;
	font-weight: 700;
	font-size: 36px;
	line-height: 1.16;
	text-align: center;
	letter-spacing: 0.03em;
	color: #212121;
}

.member .team-item {
	padding-bottom: 30px;
	background-color: #ffffff;
	border-radius: 0px 0px 4px 4px;
	-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.member .team-member {
	margin-top: 0;
	margin-bottom: 10px;
	font-family: Roboto, sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
	letter-spacing: 0.03em;
	color: #212121;
}

.member-description {
	margin-top: 0;
	margin-bottom: 16px;
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
	letter-spacing: 0.03em;
	color: #757575;
}

.designer::before {
	background-image: url(../images/product-designer.jpg);
}

.developer::before {
	background-image: url(../images/frontend-developer.jpg);
}

.marketing::before {
	background-image: url(../images/marketing.jpg);
}

.uidesigner::before {
	background-image: url(../images/ui-designer.jpg);
}

.clients-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.client-link {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	border: 1px solid #afb1b8;
	border-radius: 4px;
	width: 170px;
	height: 90px;
	background-color: #ffffff;
	-webkit-transition-duration: 250ms;
	transition-duration: 250ms;
	-webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:hover,
.client-link:focus {
	-webkit-transition-duration: 250ms;
	transition-duration: 250ms;
	-webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	border-color: #2196f3;
}

.client-link:hover .img-clients-icon,
.client-link:focus .img-clients-icon {
	-webkit-transition-duration: 250ms;
	transition-duration: 250ms;
	-webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	fill: #2196f3;
}

.img-clients-icon {
	fill: #afb1b8;
	-webkit-transition-duration: 250ms;
	transition-duration: 250ms;
	-webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop {
	position: fixed;
	width: 1600px;
	height: 1024px;
	top: 0;
	background: rgba(0, 0, 0, 0.2);
	-webkit-transition-duration: 250ms;
	transition-duration: 250ms;
	-webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	z-index: 999;
}

.backdrop .is-hidden {
	opacity: 0;
	pointer-events: none;
}

.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 528px;
	height: 581px;
	background-color: #ffffff;
	-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
}

.form {
	margin-left: 40px;
	margin-right: 40px;
}

.form-title {
	padding-top: 40px;
	margin-top: 0;
	margin-bottom: 12px;
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 1.15;
	text-align: center;
	letter-spacing: 0.03em;
	color: #212121;
}

.form-icon {
	bottom: 21px;
	position: absolute;
	width: 18px;
	height: 18px;
	left: 14px;
	display: inline-block;
}

.form-field {
	position: relative;
}

.form-field input {
	display: block;
	margin-top: 4px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	padding-left: 42px;
	padding-top: 14px;
	padding-bottom: 14px;
	width: 100%;
	height: 40px;
	margin-bottom: 10px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	outline: none;
}

.form-field:focus-within > .form-icon {
	fill: #2196f3;
}

.form-field:focus-within input {
	border-color: #2196f3;
}

.form-field:focus-within textarea {
	border-color: #2196f3;
}

.form-field textarea {
	margin-top: 4px;
	height: 120px;
	padding: 12px 16px;
	margin-bottom: 20px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	resize: none;
	outline: 0;
}

.form-field label {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	text-align: left;
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 1.16;
	letter-spacing: 0.01em;
	color: #757575;
}

.form-field textarea::-webkit-input-placeholder {
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 1.16;
	letter-spacing: 0.01em;
	color: rgba(117, 117, 117, 0.5);
}

.form-field textarea:-ms-input-placeholder {
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 1.16;
	letter-spacing: 0.01em;
	color: rgba(117, 117, 117, 0.5);
}

.form-field textarea::-ms-input-placeholder {
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 1.16;
	letter-spacing: 0.01em;
	color: rgba(117, 117, 117, 0.5);
}

.form-field textarea::placeholder {
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 1.16;
	letter-spacing: 0.01em;
	color: rgba(117, 117, 117, 0.5);
}

.checkbox {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	position: absolute;
}

.checkbox-label {
	margin-bottom: 20px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: #757575;
}

.checkbox-icon {
	content: "";
	display: inline-block;
	background-size: contain;
	width: 16px;
	height: 15px;
	border: 2px solid #212121;
	border-radius: 2px;
	margin-right: 8px;
}

.checkbox:checked + .checkbox-icon {
	background-color: #2196f3;
	border-color: #2196f3;
	background-image: url(../images/icon/check.svg);
	background-origin: border-box;
}

.policy {
	color: #2196f3;
}

.button-close {
	position: absolute;
	top: 8px;
	right: 8px;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background-size: content;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	border: 1px solid rgba(0, 0, 0, 0.1);
	fill: #000000;
}

footer {
	background-color: #2f303a;
}

footer .text-footer {
	margin-top: 0;
	margin-bottom: 20px;
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #ffffff;
}

footer .order-link {
	position: relative;
	min-width: 200px;
}

footer .logo {
	margin-bottom: 20px;
}

.form-field-footer input {
	padding-left: 16px;
	width: 358px;
	height: 50px;
	margin-right: 12px;
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: 4px;
}

.icon-send {
	position: absolute;
	top: 25%;
	left: 148px;
	display: block;
	width: 24px;
	height: 24px;
	margin-left: 10px;
	fill: #ffffff;
}
/*# sourceMappingURL=main.css.map */
