.page-header {
	border: 1px solid $header-border-color;
}
.page-title {
	padding-top: 200px;
	margin-top: 0px;
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
	width: 696px;
	font-family: Roboto, sans-serif;
	font-weight: 900;
	font-size: 44px;
	line-height: 1.4;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: $white;
}
